@charset "UTF-8";
/* CSS Document */
body{
	margin: 0
}
#wrapper{
	max-width: 1440px;
	margin: 0 auto;
    max-height: 1080px;
    
}
nav{
	background-color: #0E0E0E;
	max-width: 1920px;
	/*height: 72px;*/
	width: 100%;
    border-bottom: solid 1px #CDCCCC;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.navlogo{
    padding: 7px 20px 7px 20px;
}

.background{
	position: fixed;
  	right: 0;
  	bottom: 0;
  	min-width: 100%; 
  	min-height: 100%;
  	z-index: -1;
}
.logomain{
    display: flex;
    justify-content: center;
      
}
article{
    display: flex;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding: 1%;   
}
article p{
    font-size: 1.2em;
    font-family: 'Kanit', serif;
    color: lightgray;
    line-height: 1.7rem;
    font-weight: 100;
    letter-spacing: 0.5px;
}
article div{
    background-color: #0E0E0E;
    opacity: 20%;
}
.projectbox{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}















































